@layer theme, demo;

@import "./modules/_theme.css" layer(theme);
@import "./modules/_demo.css" layer(demo);

.box {
  inline-size: 60%;
  border: 4px solid var(--black);
  padding: 20px;

  &.box1 { background-color: #4b3cf4;}
  &.box2 { background-color: #00e183;}
  &.box3 { background-color: #e1005a;}
}